/*** XUL demonstration ***/

window {
  -moz-box-align: start;
  background-color: -moz-dialog;
  font: -moz-dialog;
  padding: 2em;
  }


.but{
	color: red;
		
}



.codeBox{

	width: 420px;
	height: 500px;
	}




#resultBox{
	width: 350px;
	height: 400px;
	
	
}

